<div class="mf-app-component">
  Hello World
  
  <br>
    {{ myProperty.length }}
    <div [innerText]="myProperty"></div>
    <div [innerHTML]="htmlProperty"></div>

    <div (click)="onClickMeClick()">Click on me!!!</div>
  <!-- <div class="sized-div darken">&nbsp;</div> -->
  <!-- <br> -->
  <!-- <div class="sized-div lighter">&nbsp;</div> -->


<div class="container">
    <div class="row">
        <div class="col">

            <div [innerText]="person.name"></div>


        </div>
        <div class="col">
            <label for="" class="form-label">Name</label>
            <input type="text" [(ngModel)]="person.name" class="form-control" placeholder="name">



        </div>
    </div>
    <div class="row">
        <div class="col">
            <div [innerText]="person.id"></div>
        </div>
        <div class="col">
            <label for="" class="form-label">ID</label>
            <input type="number" [(ngModel)]="person.id" class="form-control" placeholder="id" name="" id="">
        </div>
    </div>
</div>

<div [innerHTML]="cardMessage"></div>
<mf-person-card [personName]="person.name"
[personId] = "person.id"
(onModeChange) ="onCardModeChanged($event)"
></mf-person-card>

</div>
